In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import datetime as date

### Extract CSVs into DataFrames
We found two datasets on Kaggle:

1) SARS 2003 Outbreak Complete Dataset (csv)

This dataset is from the World Health Organization and has basic information on the total number of cases, number of patient deaths and number of recovered patients.

    https://www.kaggle.com/imdevskp/sars-outbreak-2003-complete-dataset
    
2) Novel Corona Virus 2019 Dataset (csv)

This dataset is from the World Health Organization and has basic information on the total number of cases, number of patient deaths and number of recovered patients.

    https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

### Combining Our Datasets
In order to combine our data, we needed to address several discrepancies between the datasets.
1) The datasets originially had the date column in different data type formats so when we loaded the data into the dataframes we transformed the date values to date data type so that the datasets were comparable.
2) We needed to normalize the values of in the country column. We did this by finding all unique country names for each dataset and comparing the names. We then replaced country names in each dataset to ensure they matched.
3) We created a new dataframe for each dataset with just the values we wanted.
4) We then renamed these columns to make the datasets match.
5) We also added a column called 'respiratory_disease' to identify the disease name for each dataset when the two datasets were combined.

### Extract SARS data

In [2]:
# Save data from path in new variable
sars_file = "data sources/sars_2003_complete_dataset_clean.csv"

# Use Pandas to read sars data
sars_df = pd.read_csv(sars_file, parse_dates=[0])
sars_df['Date1'] = sars_df['Date'].dt.date
sars_df.head()

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered,Date1
0,2003-03-17,Germany,1,0,0,2003-03-17
1,2003-03-17,Canada,8,2,0,2003-03-17
2,2003-03-17,Singapore,20,0,0,2003-03-17
3,2003-03-17,"Hong Kong SAR, China",95,1,0,2003-03-17
4,2003-03-17,Switzerland,2,0,0,2003-03-17

### Transform SARS DataFrame

In [3]:
# Get Unique Country Names for Comparison
sars_df.Country.unique()

array(['Germany', 'Canada', 'Singapore', 'Hong Kong SAR, China',
       'Switzerland', 'Thailand', 'Viet Nam', 'China', 'Taiwan, China',
       'Slovenia', 'United Kingdom', 'Spain', 'United States', 'Italy',
       'Republic of Ireland', 'France', 'Romania', 'Australia', 'Belgium',
       'Brazil', 'Malaysia', 'Kuwait', 'Japan', 'South Africa',
       'Indonesia', 'Philippines', 'Sweden', 'India', 'Mongolia',
       'Bulgaria', 'Republic of Korea', 'Macao SAR, China', 'Poland',
       'New Zealand', 'Colombia', 'Finland', 'Russian Federation'],
      dtype=object)

In [4]:
# Separate Country Column into Province/State and Country
rename_sars_df = sars_df.replace(
    {"Hong Kong SAR, China": "Hong Kong",
     "Taiwan, China": "Taiwan",
     "Macao SAR, China": "Macau",
     "Viet Nam": "Vietnam",
     "Republic of Ireland": "Ireland",
     "Republic of Korea" : "Korea",
     "Russian Federation" : "Russia"})

# new df with columns I want
new_sars_df = rename_sars_df[['Date1','Country', 'Cumulative number of case(s)', 'Number of deaths', 'Number recovered']].copy()

# reaname column
clean_sars_df = new_sars_df.rename(columns={'Date1': 'date', 'Country':'country','Cumulative number of case(s)':'confirmed', 
                                            'Number of deaths':'deaths','Number recovered':'recovered'})
clean_sars_df['respiratory_disease']='SARS'
clean_sars_df.head()

         date      country  confirmed  deaths  recovered respiratory_disease
0  2003-03-17      Germany          1       0          0                SARS
1  2003-03-17       Canada          8       2          0                SARS
2  2003-03-17    Singapore         20       0          0                SARS
3  2003-03-17    Hong Kong         95       1          0                SARS
4  2003-03-17  Switzerland          2       0          0                SARS

### Extract Corona data

In [5]:
# Save Corona data from path in new variable
corona_file = "data sources/2019_nCoV_data.csv"

# Use Pandas to read corona data, remove timestamp
corona_df = pd.read_csv(corona_file, parse_dates=[1])
corona_df['Date1'] = corona_df['Date'].dt.date
corona_df.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered,Date1
0,1,2020-01-22 12:00:00,Anhui,China,01/22/2020 12:00:00,1.0,0.0,0.0,2020-01-22
1,2,2020-01-22 12:00:00,Beijing,China,01/22/2020 12:00:00,14.0,0.0,0.0,2020-01-22
2,3,2020-01-22 12:00:00,Chongqing,China,01/22/2020 12:00:00,6.0,0.0,0.0,2020-01-22
3,4,2020-01-22 12:00:00,Fujian,China,01/22/2020 12:00:00,1.0,0.0,0.0,2020-01-22
4,5,2020-01-22 12:00:00,Gansu,China,01/22/2020 12:00:00,0.0,0.0,0.0,2020-01-22

### Transform Corona DataFrame

In [6]:
# Get Unique Country Names for Comparison
corona_df.Country.unique()

array(['China', 'US', 'Japan', 'Thailand', 'South Korea',
       'Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'Singapore',
       'Philippines', 'Malaysia', 'Vietnam', 'Australia', 'Mexico',
       'Brazil', 'France', 'Nepal', 'Canada', 'Cambodia', 'Sri Lanka',
       'Ivory Coast', 'Germany', 'Finland', 'United Arab Emirates',
       'India', 'Italy', 'Sweden', 'Russia', 'Spain', 'UK', 'Belgium',
       'Others', 'Egypt'], dtype=object)

In [7]:
# normalize values in Country
corona_df = corona_df.replace(
    {"UK": "United Kingdom", "US": "United States", "Mainland China": "China"})
# new df with columns I want
new_corona_df = corona_df[['Date1','Country', 'Confirmed', 'Deaths', 'Recovered']].copy()

# reaname column
clean_corona_df = new_corona_df.rename(columns={'Date1':'date', 'Country': 'country', 'Confirmed': 'confirmed', 
                                                'Deaths': 'deaths', 'Recovered': 'recovered'})
clean_corona_df['respiratory_disease']='Corona'
clean_corona_df.head()

         date country  confirmed  deaths  recovered respiratory_disease
0  2020-01-22   China        1.0     0.0        0.0              Corona
1  2020-01-22   China       14.0     0.0        0.0              Corona
2  2020-01-22   China        6.0     0.0        0.0              Corona
3  2020-01-22   China        1.0     0.0        0.0              Corona
4  2020-01-22   China        0.0     0.0        0.0              Corona

### Creating Our Database
To create our Database we used PgAdmin to run PostgresSQL 11 where we created a combined_disease table with a serial id as the primary key and the following columns: date, country, confirmed, deaths, recovered and respiratory_disease. Then we took each cleaned dataframe and loaded each dataframe into the combined_disease table. We set the index to false because we planned to use our serial id instead.

### Create Database Connection

In [8]:
connection_string = "postgres:postgres@localhost:5432/respiratory_outbreak_db"
engine = create_engine(f'postgresql://{connection_string}')

### Load DataFrames into Database

In [12]:
clean_sars_df.to_sql(name='combined_disease', con=engine, if_exists='append', index=False)

In [13]:
clean_corona_df.to_sql(name='combined_disease', con=engine, if_exists='append', index=False)